@import "variaveis";

@mixin container {
  max-width: $container-width;
  padding: 30px 0;
  margin: 0 auto;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin bg-img($img) {
  background-image: url("../imagens/#{$img}");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;

  &:hover {
    background-size: 110%;
    filter: none; //pode ser também -> filter: grayscale(0%);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagens/#{$img}");
  }
}
@mixin mobile {
  @media (max-width: 400px) {
    @content;
  }
}
